.product-name {
  font-weight: bold;
}

.discount-container-ps {
  font-size: 18px;
}

.price-ps {
  font-size: 30px;
  font-weight: bold;
}

.description {
  h3 {
    font-size: 15px;
  }

  p {
    font-size: 15px;
  }
}
