.card-image {
  max-width: 55px;
  border-radius: 3px;
  margin-right: 0.5rem;
}

.green-text {
  color: #28a745;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-image {
    max-width: 47px;
  }

  .table-promotions {
    td {
      font-size: 15px;
    }
  }
}
