.container-product-screen {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

header {
  display: flex;
  flex: 0 1 50%;
  justify-content: center;
}

.carousel-container {
  padding: 1rem;
}

.main-data {
  padding: 1rem;
  border: 1px solid rgb(218, 218, 218);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  font-weight: bold;
}

.discount-container-ps {
  font-size: 18px;
}

.price-ps {
  font-size: 30px;
  font-weight: bold;
}

.description {
  h3 {
    font-size: 18px;
  }
}
