.card {
  height: 100% !important;
  transition: all 0.5s;
}

.card:hover {
  box-shadow: rgb(0 0 0 / 16%) 0px 2px 8px 2px;
  transform: scale(1.02);
  cursor: pointer;
}

.discount-container {
  text-align: center;
  font-size: 18px;
}

.discount-number {
  text-decoration: line-through;
}

.discount-percentage {
  background-color: #28a745;
  color: white;
  padding: 0px 4px 1px 4px;
  border-radius: 3px;
  margin-left: 0.5rem;
}

.price {
  font-size: 22px !important;
  text-align: center;
  font-weight: bold !important;
}
